<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block th:remove="all">
<th:block th:fragment="input-text-hidden (name, value)">
    <input th:id="${name}" th:name="${name}" type="text" class="formcontrol" th:value="${value}"/>
</th:block>
<th:block th:fragment="input-text-param (name, placeHolder, initialValue)">
    <input th:id="${name}" th:name="${name}" th:placeholder="${placeHolder}" type="text"
           class="formcontrol input input-text input-param"
           th:value="${initialValue}" th:classappend="${'input-name-'+name}"/>
</th:block>
<th:block th:fragment="input-date-param (name, placeHolder, initialValue)">
    <input th:id="${name}" th:name="${name}" th:placeholder="${placeHolder}" type="date"
           class="formcontrol input input-date input-param"
           th:value="${initialValue}" th:classappend="${'input-name-'+name}"/>
</th:block>
<th:block th:fragment="input-time-param (name, placeHolder, initialValue)">
    <input th:id="${name}" th:name="${name}" th:placeholder="${placeHolder}" type="time"
           class="formcontrol input input-time input-param"
           th:value="${initialValue}" th:classappend="${'input-name-'+name}"/>
</th:block>
<th:block th:fragment="input-timestamp-param (name, placeHolder, initialValue)">
    <input th:id="${name}" th:name="${name}" th:placeholder="${placeHolder}" type="datetime-local"
           class="formcontrol input input-time input-param"
           th:value="${initialValue}" th:classappend="${'input-name-'+name}"/>
</th:block>

<th:block th:fragment="input-text-field (name, field, placeHolder)">
    <input th:id="${name}" th:name="${name}" th:placeholder="${placeHolder}" type="text"
           class="formcontrol input input-text input-field"
           th:field="${__${field}__}"
           th:classappend="${'input-name-'+name}"/>
</th:block>
</body>
</html>